#ii{
    position: relative;
  }
 h1{
            position: absolute;
            top: 900px;
            font-size: 100px;
            left: 1800px;
            color: rgb(249, 249, 240);
            
         }
    
.tt{
    padding: 20px;
    border: 20px solid rgb(255, 255, 255);
    width: 1000px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 100px;
    position: relative;
}
h3{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(252, 247, 247);
    color: rgb(10, 1, 1);
}
*{
    display: inline-block;
}